.metka {
    stroke: #fff;
    stroke-width: 5;
}

.number {
    fill: #fff;
    font-weight: 700;
    font-size: 20px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
}

.speedometr {
    width: 100%;
}

.speed-number {
    color: #fff;
    font-family: 'Tulpen One', cursive;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}